.productlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-left: -1rem; /* Compensate for the left margin of the first item */
    margin-right: -1rem; 
    gap: 1rem;/* Compensate for the right margin of the last item */
}

.productCart {
    width: calc(18% - 4rem); /* 25% width minus margins */
    position: relative;
    background-color: var(--color-grey-primary);
    margin: 1rem;
    max-width: 30rem;
    max-height: 50rem;
    transition: 0.2s;
    border-radius: 10px;
}

.productCart:hover {
    transform: translate(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #646060;
}

.productImage {
    margin-top: 2rem;
    width: 100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.productCart_cart,
.productCart_wishlist,
.productCart_fastSelling {
    position: absolute;
    margin: 0.2rem;
    font-size: 1.5rem;
    transition: 0.2s;
    cursor: pointer;
}

.productCart_cart {
    right: 0%;
}

.productCart_wishlist {
    right: 3rem;
}

.productCart_fastSelling {
    left: 0;
    fill: var(--color-grey-primary);
}

.productCart_content {
    margin: 1.5rem;
}

.productName {
    font-size: 1rem;
}

.displayStack__1,
.displayStack__2 {
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productPrice {
    font-size: 1rem;
    font-weight: bold;
}

.productRating {
    font-size: 1rem;
    display: flex;
}

.productRating svg {
    color: rgb(0, 0, 0);
}

.sectionTitle {
    text-align: center;
    margin-bottom: 1rem;
}

.productCart:nth-child(4n+1) {
    margin-left: 1; /* Remove left margin for the first book in each row */
}

.productCart:nth-child(4n+4) {
    margin-right: 1; /* Remove right margin for the last book in each row */
}

.exploreButton{
display: flex;
    gap: 30px;
    margin: 30px auto;
    text-align: center; 
    background-color: #800080;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
    margin:auto; 
    height: 40px;
    width: 250px;
    font-size: 20px;
    font-weight: 600;
}